<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.afriyan_fr.twilight">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity android:name=".Tf_webview">
        </activity>
        <activity android:name=".Jf_webview">
        </activity>
        <activity android:name=".Jk_webview">
        </activity>
        <activity android:name=".df1">
        </activity>
        <activity android:name=".tipsntrik">
        </activity>
        <activity android:name=".teknikfotografi">
        </activity>
        <activity android:name=".jenisfotografi">
        </activity>
        <activity android:name=".jeniscamera">
        </activity>
        <activity android:name=".dasarfotografi">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>